---
import TurnstileLoader from "@/islands/components/TurnstileLoader.astro";
import { InviteOnlyFormIsland } from "@/islands/forms/InviteOnlyForm";
---

<TurnstileLoader>
  <div class="relative flex w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-md space-y-8 px-4">
      <InviteOnlyFormIsland client:only="react" />
    </div>
  </div>
</TurnstileLoader>
