---
import { Waves } from "@/components/ui/waves-background";
import TurnstileLoader from "@/islands/components/TurnstileLoader.astro";
import { InviteOnlyFormIsland } from "@/islands/forms/InviteOnlyForm";
---

<TurnstileLoader>
  <div>
    <div class="absolute inset-0 h-screen">
      <Waves
        client:visible
        lineColor="rgba(0, 0, 0, 0.3)"
        backgroundColor="transparent"
        waveSpeedX={0.02}
        waveSpeedY={0.01}
        waveAmpX={40}
        waveAmpY={20}
        friction={0.9}
        tension={0.01}
        maxCursorMove={120}
        xGap={12}
        yGap={36}
      />
    </div>
    <div class="relative flex w-full items-center justify-center p-6 md:p-10">
      <div class="w-full max-w-md space-y-8 px-4">
        <InviteOnlyFormIsland client:only="react" />
      </div>
    </div>
  </div>
</TurnstileLoader>
