---
import { Shield, Lock, GitPullRequestDraft } from "lucide-react";
import InviteOnly from "@/components/landing/InviteOnly.astro";
import LandingSwitcher from "@/components/landing/LandingSwitcher.astro";
import { INVITE_ONLY } from "astro:env/server";
import type { User } from "@/db/schema";
import Features from "@/components/landing/Features.astro";
import { FAQIsland } from "@/islands/landing/FAQ";

interface Props {
  user?: User;
}

const { user } = Astro.props;

const hasInvitation = user?.invitation;
---

<div class="relative">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Hero Section -->
    <div class="text-center my-12">
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight text-primary mb-4"
      >
        Share Secrets Securely
      </h1>
      <p
        class="text-lg md:text-xl text-muted-foreground mb-8 max-w-2xl mx-auto"
      >
        End-to-end encrypted file and secret sharing. Your data is automatically
        deleted after being viewed, ensuring your sensitive information stays
        private and secure.
      </p>
    </div>

    {
      INVITE_ONLY && !hasInvitation ? (
        <InviteOnly />
      ) : (
        <LandingSwitcher user={user} />
      )
    }

    <!-- Features Section -->
    <Features />

    <!-- FAQ Section -->
    <FAQIsland client:load />
  </div>
</div>
