---
import { SecretIsland } from "@/islands/secrets/Secret";
import { ENFORCE_ONE_TIME } from "astro:env/server";

interface Props {
  secret: string;
}

const { secret } = Astro.props;
---

<div class="relative flex w-full items-center justify-center p-6 md:p-10">
  <div class="w-full max-w-2xl space-y-8 px-4">
    <SecretIsland client:load secret={secret} oneTime={ENFORCE_ONE_TIME} />
  </div>
</div>
