---
import { SEO } from "astro-seo";
import { Toaster } from "@/components/ui/toaster";
import Footer from "@/components/layout/Footer.astro";
import Navbar from "@/components/layout/Navbar.astro";
import TurnstileLoader from "@/islands/components/TurnstileLoader.astro";
import { Waves } from "@/components/ui/waves-background";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      titleDefault="StackedLayer"
      titleTemplate="%s | StackedLayer"
      description="Security focused open source One-Time files and secrets sharing. Your data is automatically deleted after being viewed, ensuring your sensitive information stays private and secure."
      openGraph={{
        basic: {
          title: "StackedLayer",
          type: "website",
          image: "/favicon.svg",
        },
      }}
      twitter={{
        creator: "@StackedLayer",
      }}
      charset="utf-8"
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/favicon.svg",
          },
          { name: "twitter:title", content: "StackedLayer" },
          {
            name: "twitter:description",
            content:
              "Security focused open source One-Time files and secrets sharing. Your data is automatically deleted after being viewed, ensuring your sensitive information stays private and secure.",
          },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <div
      class="relative min-h-screen flex flex-col bg-gradient-to-br from-background to-muted"
    >
      <div class="absolute inset-0 h-full">
        <Waves
          client:visible
          lineColor="rgba(0, 0, 0, 0.3)"
          backgroundColor="transparent"
          waveSpeedX={0.02}
          waveSpeedY={0.01}
          waveAmpX={40}
          waveAmpY={20}
          friction={0.9}
          tension={0.01}
          maxCursorMove={120}
          xGap={12}
          yGap={36}
        />
      </div>
      <Navbar />
      <TurnstileLoader />
      <main class="flex-grow w-full mx-auto overflow-hidden">
        <slot />
      </main>
      <Toaster client:only="react" />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>
